*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    line-height: 1.5;
    color: #333;
    background-color: #f8f9fa;
}

a{
    color: #adb1b6;
    text-decoration: none;
}

a:hover {
    color: #76797c;
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #222;
    margin-bottom: 1em;
    line-height: 1.2;
    font-weight: 600;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.2rem;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
}

.primary-button {
    background-color: #000000;
    color: white;
}

.header-action .logout {
    transition: transform 0.3s ease;
}

.header-action .logout:hover {
    transform: translateY(-3px);
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.page-container {
    display: flex;
    min-height: 100vh;
    flex-direction: row;
}

header {
    position: sticky;
    top: 0;
    padding: 10px 16px;
    border-bottom: 1px solid #ebe9df;
    color: #f1f1f1;
    backdrop-filter: blur(7px);
    padding-inline: 20px;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.9);
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.logo {
    max-width: 100px;
    height: auto;
}

.logout-action {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logout {
    color: white;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 5px;
}

.logout-icon {
    width: 24px;
    height: auto;
}

.sidebar {
    width: 250px;
    background-color: #f1f3f5;
    padding: 20px;
    transition: width 0.3s ease;
    border-right: 1px solid #e0e0e0;
}

.sidebar.collapsed {
    width: 90px;
}

.sidebar.collapsed .nav-link span {
    display: none;
}

.sidebar-header {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #e0e0e0;
}

.collapse-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

.collapse-btn img {
    width: 24px;
    height: auto;
}

#collapse-icon-left {
    display: block;
}

#collapse-icon-right {
    display: none;
}

.nav-list {
    list-style: none;
    padding: 0;
}

.nav-item {
    margin-bottom: 15px;
}

.nav-link {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #333;
    padding: 10px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    text-decoration: none;
    white-space: nowrap;
}

.nav-link:hover {
    background-color: #e0e0e0;
}

.nav-link.active {
    background-color: #757c83;
    color: white;
}

.nav-link img {
    width: 24px;
    height: auto;
}

.main-content {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.kanban-view {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.overview-section {
    margin-bottom: 40px;
}

.overview-board {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    flex-wrap: wrap;
    gap: 20px;
}

.overview-column {
    flex: 1;
    min-width: 200px;
    padding: 15px;
    border-radius: 8px;
    background-color: #e9ecef;
    text-align: center;
}

.overview-column-title {
    font-size: 1.2rem;
    margin-bottom: 5px;
    color: #2c3e50;
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

.overview-column-title img {
    margin-right: 5px;
}

.todo-count,.in-progress-count,.completed-count,.overdue-count {
    font-size: 1.7rem;
    font-weight: bold;
    color: #34495e;
}

.kanban-board {
    display: flex;
    flex: 1;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
    flex-wrap: wrap;
}

.kanban-column {
    flex: 1;
    min-width: 250px;
    border-radius: 8px;
    padding: 20px;
    background-color: #f1f3f5;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.kanban-column-title-container {
    background-color: #e9ecef;
    padding: 10px;
    border-radius: 8px 8px 0 0;
    margin-bottom: 10px;
}

.section-title {
    text-align: center;
    padding-bottom: 20px;
}

.kanban-column-title {
    font-size: 1.2rem;
    margin-bottom: 0;
    color: #2c3e50;
    text-align: center;
}

.task-cards {
    flex: 1;
    overflow-y: auto;
}

.task-card {
    padding: 15px;
    position: relative;
    margin-bottom: 10px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.2s ease;
    border: 1px solid #ddd;
    color: #000000;
}

.task-card h4 {
    background-color: #adb0b4;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

.task-card .description {
    color: #837c7c;
    font-weight: 500;
}

.task-card:hover {
    transform: translateY(-5px);
}

.type-icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    vertical-align: middle;
}

.delete-icon{
    position: absolute;
    bottom: 8px;
    right: 8px;
    /* width: 24px;
    height: 24px; */
    margin-bottom: 20px;
    margin-right: 15px;
    cursor: pointer;
}

.logout {
    display: flex;
    align-items: center;
    gap: 5px;
    color: white;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
}

/* modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    width: 900px;
    max-height: 90vh;
    overflow-y: auto;
}
.modal-content .close-button{
    position: relative;
    display: flex;
    justify-content: flex-end;
}
.modal-content h1 {
    margin-bottom: 40px;
    font-size: 2.5rem;
    color: #333;
    position: relative;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

.form-group input,.form-group textarea,.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    
}
.due-and-priority{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    gap:5rem;
}
.form-group textarea {
    resize: vertical;
    height: 100px;
}

.form-group button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #000000;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-group button:hover {
    background-color: #333;
}

.close-button {
    position: relative;
    color: #0f0f0f;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
}


#calendar-container-content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#error-title {
    color: #000000;
    margin-bottom: 10px;
}

#error-message {
    color: #333;
    margin-bottom: 15px;
    font-size: 1rem;
    line-height: 1.5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 90%;
}


.task-card .priority-container {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    gap: 5px; 
}

.task-card .priority-tag {
    display: inline-block;
    padding: 2px 5px;
    border-radius: 5px;
    font-size: 0.8em;
    color: white;
}

.task-card .priority-high {
    background-color: #dc3545; 
}

.task-card .priority-medium {
    background-color: #ffc107; 
    color: #212529; 
}

.task-card .priority-low {
    background-color: #28a745; 
}


.task-card .due-date-container {
    display: flex;
    align-items: center;
    font-size: 0.9em;
    color: #6c757d;
    margin-top: 5px;
}

.task-card .due-date-container .calendar-icon {
    margin-right: 5px;
    display: flex; 
    align-items: center;
}

.task-card .due-date-container .calendar-icon img{
    height: 16px; 
    width: 16px; 
}

.task-card .due-date-container span {
    vertical-align: middle;
}

@media (max-width: 992px) {
    .page-container {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        border-bottom: 1px solid #e0e0e0;
    }

    .main-content {
        width: 100%;
    }

    .kanban-board {
        flex-direction: column;
    }

    .kanban-column {
        min-width: 100%;
        margin-bottom: 20px;
    }
}
